<div class="content">
    <div class="convas"></div>
    <hr />
    <div class="control-area">
        <div class="control-area__row">
            <label class="control-area__operation-label label">Операция:</label>
            <select class="contol-area__operation-select">
                <option value="privatespending" selected="">Изменить частные расходы</option>
                <option value="governmentspending">Изменить государственные расходы</option>
            </select>
        </div>
        <div class="control-area__row">
            <label class="control-area__size-label label">Размер:</label>
            <input type="text" class="contol-area__size" value="30" size="5">
        </div>
        <div class="control-area__row control-area__button-flex">
            <button onclick="doActionClick()" class="control-area__run-button button">Запуск</button>
            <button onclick="replayActionClick()" class="control-area__replay-button button">Повторить</button>
            <button onclick="reverseActionClick()" class="control-area__reverse-button button">Откатить</button>
            <button onclick="resetBalanceSheetsClick()" class="control-area__reset-button button">Сброс</button>
        </div>
    </div>
</div>