<div class="content">
    <div class="convas"></div>
    <hr />
    <div class="control-area">
        <div class="control-area__row">
            <label class="control-area__operation-label label">Операция:</label>
            <select class="contol-area__operation-select" [(ngModel)]="selectedOperation">
                <option *ngFor="let operation of balanceOperations" [ngValue]="operation">{{operation.text}}</option>
            </select>
            {{selectedOperation | json}}
        </div>
        <div class="control-area__row">
            <label class="control-area__size-label label">Размер:</label>
            <input type="text" class="contol-area__size" [(ngModel)]="currentValue" size="5">
        </div>
        <div class="control-area__row control-area__button-flex">
            <button (click)="executeOperation(selectedOperation)"
                class="control-area__run-button button">Запуск</button>
            <button (click)="replayOperation(selectedOperation)"
                class="control-area__replay-button button">Повторить</button>
            <button (click)="reverseOperation(selectedOperation)"
                class="control-area__reverse-button button">Откатить</button>
            <button (click)="resetAllOperations(selectedOperation)"
                class="control-area__reset-button button">Сброс</button>
        </div>
    </div>
</div>